{% extends "base.html" %}

{% block title %}Lip Lengthening - Panache Advanced Dental Care{% endblock %}

{% block content %}
<div class="container-fluid hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h1 class="display-4 fw-bold mb-4">Lip Lengthening</h1>
                <p class="lead">Content will be provided for this lip lengthening procedure.</p>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="doctor-card">
                <h3 class="section-title">About Lip Lengthening</h3>
                <p>Detailed information about the lip lengthening procedure will be provided here.</p>
                
                <h4>Procedure Details</h4>
                <p>Information about the lip lengthening procedure will be added here.</p>
                
                <h4>Benefits</h4>
                <p>Benefits of the procedure will be listed here.</p>
                
                <h4>Recovery</h4>
                <p>Recovery information will be provided here.</p>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-lg-12 text-center">
            <a href="{{ url_for('contact') }}" class="btn btn-primary-custom">Schedule Consultation</a>
        </div>
    </div>
</div>
{% endblock %}